<div id="media">
  <div class="preview_banner_46860">
    <a href='https://rollercoin.com' target="_blank">
      <div class="responsive_image_header_46860">
        <img id="responsive-media-preview-image-46860" src='https://media.bitmedia.io/static/26f3ea00-234f-11eb-a783-4b2ab56fecc06b66bf79-9de3-4cd8-9cc0-4fedfe496fed.png' alt='' class="responsive-media-preview-image-46860">
      </div>
    </a>
    <div class="responsive_footer_block_46860">
      <div class="responsive_logo_46860">
        <a href='https://rollercoin.com}' target="_blank">
          <img id="responsive-media-preview-logo-46860" src='https://media.bitmedia.io/static/26f3c2f0-234f-11eb-a783-4b2ab56fecc0f1d93279-c594-47f1-80ba-4cf9f04474c6.png' alt="">
        </a>
      </div>
      <div class="footer_text_block_46860">
        <a href='https://rollercoin.com' target="_blank">
          <div class="responsive_image_headline_46860">Crypto Mining Simulator</div>
        </a>
        <a href='https://rollercoin.com' target="_blank">
          <div class="responsive_business_name_46860">Rollercoin.com</div>
        </a>
      </div>
      <div class="footer_text_block_46860">
        <a href='https://rollercoin.com' target="_blank">
          <div class="responsive_description_46860">Addictive Bitcoin Game</div>
        </a>
      </div>
      <a href='https://rollercoin.com' target="_blank">
        <div class="wrap_container_link_arrow_46860">
          <img class="responsive_link_arrow_46860" src="https://bitmedia.io/app/react/images/next_icon.022f895d189dc217a8a1377e78c08c51.svg" alt="">
        </div>
      </a>
    </div>
  </div>
</div>
