<p *ngIf="didntload !== 0" style="color: red;">Didn`t loaded characters: {{didntload}}</p>
<ngb-tabset>
  <ngb-tab title="Normal">
    <ng-template ngbTabContent>
      <ngb-tabset>
        <ngb-tab *ngFor="let boss of bossesTmp; index as i" title="{{boss.bossName}}">
          <ng-template ngbTabContent>
            <ngb-tabset>
              <ngb-tab title="DPS">
                <ng-template ngbTabContent>
                  <table style="margin-top: 15px; background-color: #45504538;" class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" (click)="sortData('ilvl')" style="cursor: pointer;">ilvl</th>
                      <th scope="col">Character</th>
                      <th scope="col" (click)="sortData('best')" style="cursor: pointer;">Best DPS</th>
                      <th scope="col" (click)="sortData('average')" style="cursor: pointer;">Average DPS (all kill pulls)</th>
                      <th scope="col">Kills count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let character of viewResult.dps.normal[i].result; index as j">
                      <th *ngIf="character.bestDamage != 0" scope="row">{{ j + 1 }}</th>
                      <td *ngIf="character.bestDamage != 0">{{ character.ilvl | number }}</td>
                      <td *ngIf="character.bestDamage != 0" ngClass="{{ character.class }}">
                        {{ character.characterName }}
                      </td>
                      <td *ngIf="character.bestDamage != 0">{{ character.bestDamage | number }}</td>
                      <td *ngIf="character.bestDamage != 0">{{ character.averageDamage | number }}</td>
                      <th *ngIf="character.bestDamage != 0">{{ character.killsCount | number }}</th>
                    </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="HPS">
                <ng-template ngbTabContent>
                  <table style="margin-top: 15px; background-color: #45504538;" class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" (click)="sortData('ilvl')" style="cursor: pointer;">ilvl</th>
                      <th scope="col">Character</th>
                      <th scope="col" (click)="sortData('best')" style="cursor: pointer;">Best HPS</th>
                      <th scope="col" (click)="sortData('average')" style="cursor: pointer;">Average HPS (all kill pulls)</th>
                      <th scope="col">Kills count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let character of viewResult.hps.normal[i].result; index as j">
                      <th *ngIf="character.bestHPS != 0" scope="row">{{ j + 1 }}</th>
                      <td *ngIf="character.bestHPS != 0">{{ character.ilvl | number }}</td>
                      <td *ngIf="character.bestHPS != 0" ngClass="{{ character.class }}">
                        {{ character.characterName }}
                      </td>
                      <td *ngIf="character.bestHPS != 0">{{ character.bestHPS | number }}</td>
                      <td *ngIf="character.bestHPS != 0">{{ character.averageHPS | number }}</td>
                      <th *ngIf="character.bestHPS != 0">{{ character.killsCount | number }}</th>
                    </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Heroic">
    <ng-template ngbTabContent>
      <ngb-tabset>
        <ngb-tab *ngFor="let boss of bossesTmp; index as i" title="{{boss.bossName}}">
          <ng-template ngbTabContent>
            <ngb-tabset>
              <ngb-tab title="DPS">
                <ng-template ngbTabContent>
                  <table style="margin-top: 15px; background-color: #45504538;" class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" (click)="sortData('ilvl')" style="cursor: pointer;">ilvl</th>
                      <th scope="col">Character</th>
                      <th scope="col" (click)="sortData('best')" style="cursor: pointer;">Best DPS</th>
                      <th scope="col" (click)="sortData('average')" style="cursor: pointer;">Average DPS (all kill pulls)</th>
                      <th scope="col">Kills count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let character of viewResult.dps.heroic[i].result; index as j">
                      <th *ngIf="character.bestDamage != 0" scope="row">{{ j + 1 }}</th>
                      <td *ngIf="character.bestDamage != 0">{{ character.ilvl | number }}</td>
                      <td *ngIf="character.bestDamage != 0" ngClass="{{ character.class }}">
                        {{ character.characterName }}
                      </td>
                      <td *ngIf="character.bestDamage != 0">{{ character.bestDamage | number }}</td>
                      <td *ngIf="character.bestDamage != 0">{{ character.averageDamage | number }}</td>
                      <th *ngIf="character.bestDamage != 0">{{ character.killsCount | number }}</th>
                    </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="HPS">
                <ng-template ngbTabContent>
                  <table style="margin-top: 15px; background-color: #45504538;" class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" (click)="sortData('ilvl')" style="cursor: pointer;">ilvl</th>
                      <th scope="col">Character</th>
                      <th scope="col" (click)="sortData('best')" style="cursor: pointer;">Best HPS</th>
                      <th scope="col" (click)="sortData('average')" style="cursor: pointer;">Average HPS (all kill pulls)</th>
                      <th scope="col">Kills count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let character of viewResult.hps.heroic[i].result; index as j">
                      <th *ngIf="character.bestHPS != 0" scope="row">{{ j + 1 }}</th>
                      <td *ngIf="character.bestHPS != 0">{{ character.ilvl | number }}</td>
                      <td *ngIf="character.bestHPS != 0" ngClass="{{ character.class }}">
                        {{ character.characterName }}
                      </td>
                      <td *ngIf="character.bestHPS != 0">{{ character.bestHPS | number }}</td>
                      <td *ngIf="character.bestHPS != 0">{{ character.averageHPS | number }}</td>
                      <th *ngIf="character.bestHPS != 0">{{ character.killsCount | number }}</th>
                    </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Mythic">
    <ng-template ngbTabContent>
      <ngb-tabset>
        <ngb-tab *ngFor="let boss of bossesTmp; index as i" title="{{boss.bossName}}">
          <ng-template ngbTabContent>
            <ngb-tabset>
              <ngb-tab title="DPS">
                <ng-template ngbTabContent>
                  <table style="margin-top: 15px; background-color: #45504538;" class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" (click)="sortData('ilvl')" style="cursor: pointer;">ilvl</th>
                      <th scope="col">Character</th>
                      <th scope="col" (click)="sortData('best')" style="cursor: pointer;">Best DPS</th>
                      <th scope="col" (click)="sortData('average')" style="cursor: pointer;">Average DPS (all kill pulls)</th>
                      <th scope="col">Kills count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let character of viewResult.dps.mythic[i].result; index as j">
                      <th *ngIf="character.bestDamage != 0" scope="row">{{ j + 1 }}</th>
                      <td *ngIf="character.bestDamage != 0">{{ character.ilvl | number }}</td>
                      <td *ngIf="character.bestDamage != 0" ngClass="{{ character.class }}">
                        {{ character.characterName }}
                      </td>
                      <td *ngIf="character.bestDamage != 0">{{ character.bestDamage | number }}</td>
                      <td *ngIf="character.bestDamage != 0">{{ character.averageDamage | number }}</td>
                      <th *ngIf="character.bestDamage != 0">{{ character.killsCount | number }}</th>
                    </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="HPS">
                <ng-template ngbTabContent>
                  <table style="margin-top: 15px; background-color: #45504538;" class="table table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" (click)="sortData('ilvl')" style="cursor: pointer;">ilvl</th>
                      <th scope="col">Character</th>
                      <th scope="col" (click)="sortData('best')" style="cursor: pointer;">Best HPS</th>
                      <th scope="col" (click)="sortData('average')" style="cursor: pointer;">Average HPS (all kill pulls)</th>
                      <th scope="col">Kills count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let character of viewResult.hps.mythic[i].result; index as j">
                      <th *ngIf="character.bestHPS != 0" scope="row">{{ j + 1 }}</th>
                      <td *ngIf="character.bestHPS != 0">{{ character.ilvl | number }}</td>
                      <td *ngIf="character.bestHPS != 0" ngClass="{{ character.class }}">
                        {{ character.characterName }}
                      </td>
                      <td *ngIf="character.bestHPS != 0">{{ character.bestHPS | number }}</td>
                      <td *ngIf="character.bestHPS != 0">{{ character.averageHPS | number }}</td>
                      <th *ngIf="character.bestHPS != 0">{{ character.killsCount | number }}</th>
                    </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
