.Death.Knight {
  color: #C41F3B;
  font-weight: bold;
}
.Demon {
  color: #A330C9 !important;
  font-weight: bold;
}
.Druid {
  color: #FF7D0A;
  font-weight: bold;
}
.Hunter {
  color: #ABD473;
  font-weight: bold;
}
.Mage {
  color: #40C7EB;
  font-weight: bold;
}
.Monk {
  color: #00FF96;
  font-weight: bold;
}
.Paladin {
  color: #F58CBA;
  font-weight: bold;
}
.Priest {
  color: #FFFFFF;
  font-weight: bold;
}
.Rogue {
  color: #FFF569;
  font-weight: bold;
}
.Shaman {
  color: #0070DE;
  font-weight: bold;
}
.Warlock {
  color: #8787ED;
  font-weight: bold;
}
.Warrior {
  color: #C79C6E;
  font-weight: bold;
}

